.uploadImage-DropZone{
    cursor:grabbing;
}
.uploadImage-DeleteIcon{
    position: relative;
    right: -100px;
    top: -15px;
    width: 30px;
    height: 30px;
    background-color: #EEE;
    border-radius: 100%;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #222;
    padding: 4px;
    
}
.uploadImage-DeleteIcon:hover{
    background-color: #bbb;
}
.uploadImage-OrderIcon{
    position: relative;
    color: rgba(255, 255, 255, .4);
    background-color: rgba(10, 10, 10, .4);
    border-radius: 50%;
    padding: 6px;
    top: 60px;
}
.uploadImage-OrderIcon:hover{
    color: rgba(255, 255, 255, .8);
    background-color: rgba(10, 10, 10, .8);
}
.uploadImage-LeftOrder{
    left: -70px;
}
.uploadImage-RightOrder{
    right: -40px;
}