@media screen and (min-width:325px){
    div.form-control{
        width:100%;
        margin: 1000px;
    }
}
#txtVoltar{
    color: #222;
}
div.row form{
    justify-content: center;
    align-items: center;
}
input#formName.form-control,
input#formEndereco.form-control{
    width:100%;
}
input#formTelefone.form-control,
input#formCnpj.form-control{
    width: 172px;
    justify-content: center;
    align-items: center;
}
input#formTelefone.form-control{
    width:150px;
}
label.form-label{
    width:100%;
    text-align: left;
}
#cnpjMsg{
    color:rgb(228, 25, 25);
    font-weight: bold;
    font-size: 16px;
}